*{
	margin: 0;
	padding: 0;
	border: 0;
}

html{
	width: 970px;
	font-family: Tahoma;
}

#ad{
	background-color: black;
	/*width: 970px;*/
	/*height: 130px;*/
	color: white;
	padding: 30px;
}

#adheader{
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 10px;
}

#banner{
	width: 970px;
}

#btnorange{
	background-color: #F4864A;
	color: white;
	padding: 10px 25px;
	position: absolute;
	left: 800px;
	top: 695px;
	text-decoration: none;
	border-radius: 4px;
}

#header{
	background-color: #1A1A1A;
	padding: 10px;
}

.menu{
	display: inline-block;
	border-right: 1px solid #4F4F4F;
	padding: 5px 18px 5px 12px;
	font-size: 13px;
}

	#first{
		margin-left: 30px;
		color: white;
	}

	#last{
		border-right: 1px solid #4F4F4F;
		padding-right: 340px;
	}

#menu{
	background-color: #3C3C3C;
	width: 970px;
	color: #A3A39D;
	padding: 10px 0;
}

.main{
	display: inline-block;
	width: 225px;
	height: 150px;
	background-color: #1A1A1A;
	color: white;
	vertical-align: top;
	margin-left: 10px;
}

	.main .text{
		margin-left: 50px;
	}

#main{
	background-color: #3B3B3B;
}


.maintxt{
	color: #DE6634;
	display: inline;
	font-size: 15px;
}

#features{
	background-color: #1A1A1A;
	border-top:4px solid #3B3B3B;
}

	.featureimg{
		margin-top: 20px;
		position: relative;
		top: 20px;
		left: -5px;
	}

.portfolio{
	color: white;
	width: 230px;
	height: 240px;
	display: inline-block;
	vertical-align: top;
}

	.portfolioimg{
		border: 3px solid #363636;
	}

	.portfolio p{
		margin-top: 10px;
		width: 200px;
	}

#portfolio{
	width: 935px;
	background-color: #1A1A1A;
	padding: 20px;
}

	#portfolio h1{
		color: white;
		display: inline;
		font-size: 20px;
	}

	#portfolio a{
		color: #DE6634;
		text-decoration: none;
		display: inline;
		position: relative;
		left: 680px;
	}

	#portfolio h5{
		color: #4A555B;
		text-align: right;
		margin: 30px 20px; 
	}


#projects{
	margin-top: 30px;
}

#tel{
	color: white;
	position: absolute;
	left: 770px;
	top: 15px;
	font-size: 15px;
}

.text{
	font-size: 12px;
	max-width: 700px;
}

#wrapper{
	padding: 5px;
	background-color: black;
	width: 970px;
}


.porthead{
	color: #DE6634;
	margin-top: 10px;
}























