*{
		margin: 0;
		padding: 0;
		border: 0;
	}
		body{
			background-color: black;
		}

		div.row div{
			width: 20px;
			height: 20px;
			display: inline-block;
			margin-bottom: -4px;
		}

		.brick{
			background-color: blue;
		}

		#blinky{
			background-image: url(assets/blinky.gif);
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			width: 20px;
			height: 20px;
			top: 180px;
			left: 380px;
		}
		#clyde{
			background-image: url(assets/clyde.gif);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 17px;
			position: absolute;
			width: 20px;
			height: 20px;
			top: 180px;
			left: 20px;
		}

		.cherry{
			background-image: url(assets/cherry.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 10px;
		}

		.coin{
			background-image: url(assets/pacman_coin.gif);
			background-repeat: no-repeat;
			background-position: center;
		}

		#pacman{
			background-image: url(assets/Pacman.gif);
			position: absolute;
			width: 20px;
			height: 20px;
			top: 20px;
			left: 20px;

		}

		#mspacman{
			background-image: url(assets/mspacman.gif);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 20px;
			position: absolute;
			width: 20px;
			height: 20px;
			top: 20px;
			left: 380px;
		}

		.empty{
			background-color: black;
		}
		#score{
			color: white;
			border: 2px solid white;
			height: 50px;
			width: 50px;
			padding: 30px;
			text-align: center;
		}

		#message{
			color: white;
			font-size: 40px;
			position: relative;
			top: -250px;
			left: 75px;
			display: none;
		}
















