* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}

html{
  width: 970px;
  font-family: Tahoma;
  padding: 0 20px;
}

a{
  color: #417798;
}

h3{
  color: #1571A1;
	font-size: 16px;
}

p{
  font-size: 10px;
}

.ad{
  padding: 20px 10px;
  background-image: url("./assets/left_content_ad.png");
  background-size: 200px 240px;
	height: 200px;
}

.banner{

}

#bar{
  background-color: #F8F8F8;
  display: inline-block;
  position:absolute;
  top: 0;
  left: 580px;
  border: 1px solid #C1BAB2;
  border-top: none;
  border-radius: 3px;
  padding: 6px;
  padding-top: 0;

}

.bar{
  display: inline;
  color: #C1BAB2;
  font-size: 12px;
  border-right: 1px solid black;
  padding-right: 5px;
}

#btnblue{
  border: 2px solid #1D9ADA;
  display: block;
  color: white;
  background-color: #1D9ADA;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 5px;
  text-align: center;
}

#btnstart{
	background-color: #9FBD4B;
	color: white;
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid silver;
}

#btnorange{
  border: 2px solid #F47826;
  display: block;
  color: white;
  background-color: #F47826;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px 0;
  text-align: center;
}

#bottom{
	margin-bottom: 20px;
}

.contact{
  display: inline-block;
  position: relative;
  left: 480px;
  top: -40px;
}

.free{
  border: 4px solid #85BBD6;
  background-color: white;
	height: 130px;
}

#freeimg{
	vertical-align: top;
}

.freeright{
	display:inline-block;
	width: 520px;
}

#freetxt{
	margin-bottom: 10px;
	font-size: 13px;
}

#grade{
	background-color: #145D8B;
	color: white;
	padding: 5px 10px;
	border-radius: 3px;
	text-decoration: none;
	font-size: 12px;
	margin: 10px 0 5px 15px;
}

.info{
  backgound-color: yellow;
  display: inline-block;
  width: 600px;
  vertical-align: top;
  margin-left: 40px;
}

#last{
  border: none;
}

.list{
  font-size: 10px;
  margin-left: 15px;
	margin-bottom: 10px;
}

#login{
  position: absolute;
  top: 0;
  left: 920px;
  color: white;
  border-radius: 3px;
  padding: 6px 17px;
  background-color: #008BC6;
  text-decoration: none;
  font-size: 12px;
}

.menu{
  vertical-align: top;
	text-decoration: none;
}

#motto{
  background-color: #007DBD;
  padding: 10px;
  margin-bottom: 15px;
  display: block;
  color: white;
  font-size: 20px;
}

#phone{
  position: relative;
  right: 30px;
  top: 50px;
}

#shout{
  color: #CE4027;
  font-size: 10px;
	margin-bottom: 5px;
}

#small{
  text-align: center;
	border-bottom: 1px solid silver;
	padding-bottom: 10px;
}

#soft{
	color: #96C1DE;
}

#softer{
	color: #447DA5;
}

#tel{
  color: #41ADD7;
  font-size: 20px;
}

.text{
	margin-bottom: 20px;
}

#title{
  color: #818183;
  display: inline;
  position: relative;
  top: -10px;
}

#titleblue{
  color: #0081AE;
}

.trials{
  display: inline-block;
  margin-top: 50px;
  width: 200px;
  vertical-align: top;
}
